/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

 

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(/assets/image/login-wallpaper1.jpg);
}


 

h1 {
  text-align: center;
}
