<div class="container">
  <div class="row align-items-center">
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">Get Loans</h2>
              <p class="card-text">Whether its money for education or buying a house, You can apply and get loans with few button cicks.</p>
              <button class="btn btn-primary"routerLink="/applyLoan">Apply Loan</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">Money Transaction</h2>
              <p class="card-text">Send money to your close ones within no time and you can do it any time.</p>
              <button class="btn btn-primary"routerLink="/applyLoan">Transfer Money</button>
            </div>
          </div>   
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">Manage Account</h2>
              <p class="card-text">Keep track of your transactions and current balance.</p>
              <button class="btn btn-primary"routerLink="/applyLoan">Your Account</button>
          </div>
    </div>
</div>
</div>